:root {
--font-family:'Mulish', sans-serif;

// colors
// --light:#00c3ff;
--light:#ff7979;
// --primary:#2071e7;
--primary:#e74c3c;
--dark:#c0392b;
// --dark:#2980b9;
--text:#333;
--background: #fafafa;
--hint:#999;
--border:#ddd;



}